@tailwind base;
@tailwind components;
@tailwind utilities;

.uiuc-orange {
    color: #FF5F05
}

.quote-orange {
    color: #ffaf82
}

.quote {
    text-shadow: 1px 1px 50px #CCC;
}

/* .option-image div h3 {
    transform: translateY(0px);
    transition: 0.3s;
}

.option-image div h3:hover {
    transform: translateY(-30px);
}

.option-image p {
    transform: translateY(0px);
    transition: 0.3s;
}

.option-image p:hover {
    transform: translateY(-30px);
} */


.iframe {
    top:0; left:0; bottom:0; right:0; width:100%; height:600px; border:none; margin:0; padding:0; overflow:hidden;
}

.quote-div {
    top:0; left:0; bottom:0; right:0; width:100%; border:none; margin:0; padding:0; align-items: center; justify-content: center; 
}
